<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf</title>
</head>
<body>
    <!-- thymeleaf 占位符 th; text表示String -->
    <h1 th:text="${name}">Hello World</h1>
    <div>using: spring-boot-starter-thymeleaf</div>
    <div>path: resources/templates/login.html</div>
    <p>
        &ltdependency&gt<br>
            &ltgroupId>org.springframework.boot&lt/groupId&gt<br>
            &ltartifactId>spring-boot-starter-thymeleaf&lt/artifactId&gt<br>
        &lt/dependency&gt<br>
    </p>
</body>
</html>